@import "./parcial/variables";
@import "./parcial/general";
@import "./parcial/cursosytalleres";
@import "./parcial/footer";
@import "./parcial/header";
@import "./parcial/hero";
@import "./parcial/hero2";
@import "./parcial/mediaqueries";