#cursosytalleres{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;

    .container{
        padding: 150px 12px;
    }

    h2{
        margin-top: 0;
        font-size: 3.2em;
    }

    p{
        display: none;
    }

    .taller{
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }
}


.taller:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/IMG_20200525_073745_587.jpg");

}

.taller:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/IMG_20200601_141133_695.jpg");
}

.taller:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/018.jpg");

}