* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}



h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

li {
    font-size: 1.25em;
}

ul {
    list-style: none;
}


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: $colorboton;
    &:hover{
        background-color: rgb(101, 33, 165);
    }
}

.container{
    max-width: 1400px;
    margin: auto;
}

#acercademi .container{
    text-align: center;
    padding: 200px 12px;
}

#servicios .container{
    text-align: center;
    padding: 250px 12px;
}

#servicios li{
    margin: 16px 0px;
    font-weight: bold;
}