#hero2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;

    h2{
        font-size: 9vw;
    }

    button{
        font-size: 5vw;
    }
}