#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 130vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/007.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1{
        color: white;
    }

    button{
        font-size: 1.75em;
    }
}
