$fontcolor: (
    "encabezado": orange,
    "titulo":rgba(39, 205, 186, 0.421),
    "texto":rgba(36, 36, 149, 0.841),
);

.letragrande {
    color: map-get($fontcolor, "encabezado");
}

.letramediana {
    color: map-get($fontcolor, "titulo");
}

.letrapequena {
    color: map-get($fontcolor, "texto");
}