@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;

        .container{
            flex-direction: row;
            justify-content: space-between;
        }

        nav{
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 20px;
        }
    }



    #hero h1{
        font-size: 5em;
    }

    #acercademi .container{
        display: flex;
        justify-content: space-evenly;
    }

    #acercademi .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #acercademi h2{
        margin-top: 0px;
    }

    #acercademi .img-box{
        background-image: url("../media/IMG_20200525_073745_587.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #cursosytalleres .talleres{
        display: flex;
        justify-content: center;
    }

    #cursosytalleres p{
        display: block;
        margin-bottom: 30px;
    }

    #cursosytalleres h2{
        font-size: 4em;
    }

    #cursosytalleres h3{
        margin-top: 0;
    }

    #cursosytalleres .taller{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .taller:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/IMG_20200525_073745_587.jpg");

    }

    .taller:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/IMG_20200601_141133_695.jpg");
    }

    .taller:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/018.jpg");

    }

    #servicios{
        background-image: url("../media/IMG_20200525_073745_587.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;

        .container{
            text-align: initial;
        }

        ul{
            margin-left: 100px;
        }
    }


    #hero2 h2{
        font-size: 5em;
    }

    #hero2 button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #servicios{
        background-position-x: calc(100vw - 800px);
    }
}