@mixin fontsize ($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

.letrapequenia {
    @include fontsize(1rem, 100)
}

.letramediana {
    @include fontsize(2rem, 300)
}

.letragrande {
    @include fontsize(3rem, 500)
}